Repository brandonpage/SalesforceMobileSDK-Android: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-SalesforceAnalytics, test-SalesforceSDK, test-SmartStore, test-MobileSync, test-SalesforceHybrid, test-SalesforceReact, test-RestExplorer

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

#  Potential parameters that can come from the project GUI Triggers
parameters:
  api-level:
    type: integer
    default: 0

workflows:
  pr-tests:
    when:
      and:
        - equal: [ "webhook", << pipeline.trigger_source >> ]
        - matches:
            pattern: "^pull/\\d+$"
            value: << pipeline.git.branch >>
    jobs:
      - pr-danger:
          name: Danger PR Check
      # the path-filtering/filter job determines which libs to test.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            libs/SalesforceAnalytics/.* test-SalesforceAnalytics true
            libs/test/SalesforceAnalyticsTest/.* test-SalesforceAnalytics true
            libs/SalesforceSDK/.* test-SalesforceSDK true
            libs/test/SalesforceSDKTest/.* test-SalesforceSDK true
            libs/SmartStore/.* test-SmartStore true
            libs/test/SmartStoreTest/.* test-SmartStore true
            libs/MobileSync/.* test-MobileSync true
            libs/test/MobileSyncTest/.* test-MobileSync true
            libs/SalesforceHybrid/.* test-SalesforceHybrid true
            libs/test/SalesforceHybridTest/.* test-SalesforceHybrid true
            libs/SalesforceReact/.* test-SalesforceReact true
            libs/test/SalesforceReactTest/.* test-SalesforceReact true
            libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/.* test-RestExplorer true
          base-revision: dev
          config-path: ./lib_test_config.yml

  # GUI Driven "Triggers" Schedule
  # Monday    8 PM - API 24
  # Monday    9 PM - API 26
  # Monday   10 PM - API 27
  # Monday   11 PM - API 30
  # Tuesday  12 AM - API 32
  # Friday    8 PM - API 25
  # Friday    9 PM - API 27
  # Friday   10 PM - API 29
  # Friday   11 PM - API 31
  # Saturday 12 AM - API 33
  nightly-tests:
    when:
      not:
        equal: [ "webhook", << pipeline.trigger_source >> ]
    jobs:
      - run-nightly-tests


jobs:
  pr-danger:
    docker:
      - image: cimg/ruby:3.2.2
    steps:
      - run:
          command: danger --dangerfile=.circleci/Dangerfile_PR.rb --danger_id=PR-Check --verbose
          background: true

  run-nightly-tests:
    executor: continuation/default
    steps:
      - continuation/continue:
          configuration_path: ./lib_test_config.yml
          parameters: '{"pr": false, "api-level": << pipeline.parameters.api-level >> }'

no message
  .circleci/config.yml
Due: none

Make rename api-level parameter in continuation file to avoid conflicting definitions
  .circleci/config.yml
  .circleci/lib_test_config.yml
Due: none

Prestep pipeline parameters for nightly or manually triggered runs.
  .circleci/config.yml
Due: none

Initial native login poc.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/OAuthWebviewHelper.java
  native/NativeSampleApps/RestExplorer/res/values/bootconfig.xml
  native/NativeSampleApps/RestExplorer/res/xml/servers.xml
Due: test-SalesforceSDK, test-RestExplorer

Headless Authentication working without PKCE.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.java
Due: test-SalesforceSDK, test-RestExplorer

Add Logout Reason to Revoke API call.
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceDroidGapActivity.kt
  libs/SalesforceReact/src/com/salesforce/androidsdk/reactnative/ui/SalesforceReactActivity.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/ManageSpaceActivity.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/OAuthWebviewHelper.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/SalesforceActivityDelegate.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/ScreenLockActivity.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/ExplorerActivity.java
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/LogoutDialogFragment.java
Due: test-SalesforceSDK, test-SalesforceHybrid, test-SalesforceReact, test-RestExplorer

no message
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/ExplorerActivity.java
Due: none

Add JetpackLoginActivity with dynamic colors bottle sheet Change Server.
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/analytics/AnalyticsPublishingWorker.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushMessaging.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/JetpackLoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/theme/Theme.kt
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/RestExplorerApp.java
Due: test-SalesforceSDK, test-RestExplorer

Add User Switcher bottom sheet activity. Cleanup Server Picker sheet.
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/res/values/sf__styles.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/JetpackLoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/JetpackUserSwitcherActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/RestExplorerApp.java
Due: test-SalesforceSDK, test-RestExplorer

Login top and bottom app bars are now hideable. Make color switching on server change less harsh.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/JetpackLoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: test-SalesforceSDK, test-RestExplorer

Add loading spinner.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/JetpackLoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/theme/Theme.kt
Due: test-SalesforceSDK, test-RestExplorer

Test SApp double login bug.
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/HttpAccess.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushMessaging.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushNotificationsRegistrationChangeWorker.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/OAuthWebviewHelper.kt
  native/NativeSampleApps/RestExplorer/build.gradle.kts
  native/NativeSampleApps/RestExplorer/res/values/bootconfig.xml
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/PushTest.java
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/RestExplorerApp.java
Due: test-SalesforceSDK, test-RestExplorer

Test Github Actions.
  .circleci/Dangerfile_Lib.rb
  .circleci/Dangerfile_PR.rb
  .circleci/config.yml
  .circleci/gitChangedLibs.rb
  .github/DangerFiles/Gemfile
  .github/DangerFiles/Gemfile.lock
  .github/DangerFiles/StaticAnalysis.rb
  .github/DangerFiles/TestOrchestrator.rb
  .github/workflows/nightly.yaml
  .github/workflows/pr.yaml
  .github/workflows/reusable-workflow.yaml
  .gitignore
Due: none

Test
  libs/SalesforceAnalytics/src/com/salesforce/androidsdk/analytics/logger/FileLogger.java
Due: test-SalesforceAnalytics

no message
  .github/DangerFiles/StaticAnalysis.rb
  .github/workflows/pr.yaml
Due: none

no message
  .github/workflows/pr.yaml
Due: none

no message
  .github/DangerFiles/StaticAnalysis.rb
  .github/workflows/reusable-workflow.yaml
Due: none

no message
  .github/DangerFiles/StaticAnalysis.rb
  .github/DangerFiles/TestOrchestrator.rb
  .github/workflows/nightly.yaml
  .github/workflows/reusable-workflow.yaml
Due: none

no message
  .github/workflows/pr.yaml
  .github/workflows/reusable-workflow.yaml
Due: none

no message
  .github/DangerFiles/StaticAnalysis.rb
Due: none

no message
  .github/DangerFiles/StaticAnalysis.rb
  .github/workflows/pr.yaml
  .github/workflows/reusable-workflow.yaml
Due: none

no message
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
Due: test-SalesforceSDK

no message
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/app/HybridApp.java
  libs/SalesforceReact/src/com/salesforce/androidsdk/reactnative/app/SalesforceReactSDKManager.java
Due: test-SalesforceHybrid, test-SalesforceReact

no message
  .github/workflows/reusable-workflow.yaml
Due: none

no message
  .github/DangerFiles/StaticAnalysis.rb
  .github/DangerFiles/TestOrchestrator.rb
Due: none

no message
  .codecov.yml
  .github/workflows/pr.yaml
Due: none

use github.head_ref
  .github/workflows/pr.yaml
  .github/workflows/reusable-workflow.yaml
Due: none
