Repository brandonpage/SalesforceMobileSDK-Android: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-SalesforceAnalytics, test-SalesforceSDK, test-SmartStore, test-MobileSync, test-SalesforceHybrid, test-SalesforceReact, test-RestExplorer

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

#  Potential parameters that can come from the project GUI Triggers
parameters:
  api-level:
    type: integer
    default: 0

workflows:
  pr-tests:
    when:
      and:
        - equal: [ "webhook", << pipeline.trigger_source >> ]
        - matches:
            pattern: "^pull/\\d+$"
            value: << pipeline.git.branch >>
    jobs:
      - pr-danger:
          name: Danger PR Check
      # the path-filtering/filter job determines which libs to test.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            libs/SalesforceAnalytics/.* test-SalesforceAnalytics true
            libs/test/SalesforceAnalyticsTest/.* test-SalesforceAnalytics true
            libs/SalesforceSDK/.* test-SalesforceSDK true
            libs/test/SalesforceSDKTest/.* test-SalesforceSDK true
            libs/SmartStore/.* test-SmartStore true
            libs/test/SmartStoreTest/.* test-SmartStore true
            libs/MobileSync/.* test-MobileSync true
            libs/test/MobileSyncTest/.* test-MobileSync true
            libs/SalesforceHybrid/.* test-SalesforceHybrid true
            libs/test/SalesforceHybridTest/.* test-SalesforceHybrid true
            libs/SalesforceReact/.* test-SalesforceReact true
            libs/test/SalesforceReactTest/.* test-SalesforceReact true
            libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/.* test-RestExplorer true
          base-revision: dev
          config-path: ./lib_test_config.yml

  # GUI Driven "Triggers" Schedule
  # Monday    8 PM - API 24
  # Monday    9 PM - API 26
  # Monday   10 PM - API 27
  # Monday   11 PM - API 30
  # Tuesday  12 AM - API 32
  # Friday    8 PM - API 25
  # Friday    9 PM - API 27
  # Friday   10 PM - API 29
  # Friday   11 PM - API 31
  # Saturday 12 AM - API 33
  nightly-tests:
    when:
      not:
        equal: [ "webhook", << pipeline.trigger_source >> ]
    jobs:
      - run-nightly-tests


jobs:
  pr-danger:
    docker:
      - image: cimg/ruby:3.2.2
    steps:
      - run:
          command: danger --dangerfile=.circleci/Dangerfile_PR.rb --danger_id=PR-Check --verbose
          background: true

  run-nightly-tests:
    executor: continuation/default
    steps:
      - continuation/continue:
          configuration_path: ./lib_test_config.yml
          parameters: '{"pr": false, "api-level": << pipeline.parameters.api-level >> }'

no message
  .github/workflows/reusable-workflow.yaml
Due: none

Fix CI after reusable-workflow.yaml rename.
  .github/workflows/nightly.yaml
  .github/workflows/pr.yaml
Due: none

Improve UI test setup for CI.
  .github/workflows/reusable-ui-workflow.yaml
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

Test retry reporting.
  .github/workflows/reusable-lib-workflow.yaml
  .github/workflows/reusable-ui-workflow.yaml
Due: none

no message
  .github/workflows/reusable-lib-workflow.yaml
  .github/workflows/reusable-ui-workflow.yaml
Due: none

Update Login for Admin string to match iOS.
  libs/SalesforceSDK/res/values/sf__strings.xml
Due: test-SalesforceSDK

Add optimizations and re-run tests.
  VectorDBImplementationPlan.md
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/rag/RagActivity.kt
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/rag/RagPipeline.kt
Due: none

Fix auth flow regressions.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
Due: test-SalesforceSDK, test-RestExplorer

fix(ci): resolve 3 test infrastructure issues causing nightly failures
  .github/workflows/nightly.yaml
  build.gradle.kts
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
  settings.gradle.kts
Due: test-SalesforceSDK

[Test-only] Allow cleanup-ci-w22712082 as PR base (revert before upstream PR).
  .github/DangerFiles/TestOrchestrator.rb
  .github/workflows/pr.yaml
Due: none

Test trigger: extend pr.yaml branches filter and touch SalesforceAnalytics for W-22712082 CI verification.
  libs/SalesforceAnalytics/src/com/salesforce/androidsdk/analytics/logger/LogRedactor.kt
Due: test-SalesforceAnalytics

fix(ci): bump MockK to 1.14.11 and force kotlin-reflect alignment
  gradle/libs.versions.toml
  libs/SalesforceSDK/build.gradle.kts
Due: test-SalesforceSDK

fix(ci): force kotlin-reflect version alignment and fix flaky test timing
  build.gradle.kts
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: test-SalesforceSDK

fix(ci): resolve MockK reflection crash, LiveData race, and test timing
  build.gradle.kts
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: test-SalesforceSDK

fix(ci): align kotlin-reflect with compiler version to fix MockK test crashes
  build.gradle.kts
Due: none

fix(ci): resolve MockK/kotlin-reflect crash, PictureInPictureUiState NoClassDefFoundError, and test timing flakiness
  gradle/libs.versions.toml
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
Due: test-SalesforceSDK

fix(ci): increase Thread.sleep durations in LoginViewModelTest
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: test-SalesforceSDK

fix(ci): pass isMultiUser flag in multi-user test assertions
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

Experiment with lighter refresh account validation
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerTest.java
Due: test-SalesforceSDK

Add v14 startup performance investigation
  docs/performance/v14-startup-regression/README.md
  docs/performance/v14-startup-regression/binary-footprint-analysis-v14.md
  docs/performance/v14-startup-regression/performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/performance-measurements-pixel8pro.md
  docs/performance/v14-startup-regression/performance-regression-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-impact-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/results/publisher-262.010-debug.csv
  docs/performance/v14-startup-regression/results/publisher-262.010.csv
  docs/performance/v14-startup-regression/results/publisher-266.000-debug.csv
  docs/performance/v14-startup-regression/results/publisher-266.000.csv
  docs/performance/v14-startup-regression/run_android_cold_start_benchmark.sh
  docs/performance/v14-startup-regression/run_publisher_cold_start_benchmark.sh
  libs/SalesforceSDK/build.gradle.kts
  libs/test/SalesforceSDKTest/AndroidManifest.xml
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/MainActivity.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/performance/AccountPathBenchmarkTest.java
Due: test-SalesforceSDK

Add SDK-only startup attribution benchmark
  docs/performance/v14-startup-regression/README.md
  docs/performance/v14-startup-regression/performance-regression-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-impact-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/results/sdk-sample-13.2.1.csv
  docs/performance/v14-startup-regression/results/sdk-sample-14.0.0.csv
  docs/performance/v14-startup-regression/run_sdk_sample_cold_start_benchmark.sh
  docs/performance/v14-startup-regression/sdk-only-sample-performance-measurements-galaxy-s25-ultra.md
Due: none

Add historical SDK bridge and Publisher A/B
  docs/performance/v14-startup-regression/README.md
  docs/performance/v14-startup-regression/performance-regression-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-impact-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/publisher-sdk-only-performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/results/publisher-sdk-only-13.2.1-guest-reverse.csv
  docs/performance/v14-startup-regression/results/publisher-sdk-only-13.2.1-guest.csv
  docs/performance/v14-startup-regression/results/publisher-sdk-only-14.0.0-rc.3-guest.csv
  docs/performance/v14-startup-regression/results/sdk-sample-13.0.2.10-publisher-internal.csv
  docs/performance/v14-startup-regression/results/sdk-sample-13.2.1-bridge-rerun.csv
  docs/performance/v14-startup-regression/sdk-only-sample-performance-measurements-galaxy-s25-ultra.md
Due: none

Add authenticated Publisher SDK-only results
  docs/performance/v14-startup-regression/README.md
  docs/performance/v14-startup-regression/performance-regression-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-impact-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/publisher-sdk-only-performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/results/publisher-sdk-only-13.2.1-authenticated-reverse.csv
  docs/performance/v14-startup-regression/results/publisher-sdk-only-13.2.1-authenticated.csv
  docs/performance/v14-startup-regression/results/publisher-sdk-only-14.0.0-rc.3-authenticated-reverse.csv
  docs/performance/v14-startup-regression/results/publisher-sdk-only-14.0.0-rc.3-authenticated.csv
  docs/performance/v14-startup-regression/sdk-only-sample-performance-measurements-galaxy-s25-ultra.md
Due: none

Clarify Publisher marker attribution
  docs/performance/v14-startup-regression/README.md
  docs/performance/v14-startup-regression/performance-regression-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-impact-analysis-v14-rc3.md
  docs/performance/v14-startup-regression/publisher-performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/publisher-sdk-only-performance-measurements-galaxy-s25-ultra.md
  docs/performance/v14-startup-regression/sdk-only-sample-performance-measurements-galaxy-s25-ultra.md
Due: none

Wait for all Publisher startup markers
  docs/performance/v14-startup-regression/run_publisher_cold_start_benchmark.sh
Due: none
